<div class="form-style-5">
    <form action="/planning" method="POST">
    <fieldset>
    <legend><span class="number"></span>Planning</legend>
    <label for="job">Category:</label>
    <select id="job" name="field4">
    <optgroup label="Indoors">
      <option value="fishkeeping">Fishkeeping</option>
      <option value="reading">Reading</option>
      <option value="boxing">Boxing</option>
      <option value="debate">Debate</option>
      <option value="gaming">Gaming</option>
      <option value="snooker">Snooker</option>
      <option value="other_indoor">Other</option>
    </optgroup>
    </select>      
    <label for="job">BookName:</label>
    <select id="job" name="field4">
    <optgroup label="Indoors">
      <option value="fishkeeping">Fishkeeping</option>
      <option value="reading">Reading</option>
      <option value="boxing">Boxing</option>
      <option value="debate">Debate</option>
      <option value="gaming">Gaming</option>
      <option value="snooker">Snooker</option>
      <option value="other_indoor">Other</option>
    </optgroup>
    </select>
    Start: <input type="datetime-local" placeholder="Start">
    End: <input type="datetime-local" placeholder="End">
    <input type="submit" value="Apply" />
    </fieldset>
    </form>
    </div>