<div class="form-style-5">
    <form action="/apply" method="POST">
    <fieldset>
    <legend><span class="number"></span>Planning</legend>
    <label for="job">Category:</label>
    <select id="job" name="field4">
    <optgroup label="Indoors">
      <option value="Reading">Reading</option>
      <option value="coding">coding</option>
      <option value="boxing">Boxing</option>
      <option value="debate">Debate</option>
      <option value="gaming">Gaming</option>
      <option value="snooker">Snooker</option>
      <option value="cooking">cooking</option>
      <option value="other_indoor">Other</option>
    </optgroup>
    </select><br>      
    <label for="job">Resource-type:</label>
    <select id="job" name="field4">
    <optgroup label="Indoors">
      <option value="Book">Book</option>
      <option value="Course">Course</option>
      <option value="Article">Article</option>
      <option value="debate">Debate</option>
      <option value="other_indoor">Other</option>
    </optgroup>
    </select><br>
    Start-date: <input type="datetime-local" placeholder="Start"><br>
    End-date   : <input type="datetime-local" placeholder="End"><br>
    <input type="submit" value="Apply"/>
    </fieldset>
    </form>
    </div>
